In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import cross_val_score
import joblib

In [3]:
#Loading the dataset
df = pd.read_csv("earthquake_1995-2023.csv")
print(df.head())

                                      title  magnitude         date_time  cdi  \
0          M 6.5 - 42 km W of Sola, Vanuatu        6.5  16-08-2023 12:47    7
1  M 6.5 - 43 km S of Intipucá, El Salvador        6.5  19-07-2023 00:22    8
2  M 6.6 - 25 km ESE of Loncopué, Argentina        6.6  17-07-2023 03:05    7
3     M 7.2 - 98 km S of Sand Point, Alaska        7.2  16-07-2023 06:48    6
4                  M 7.3 - Alaska Peninsula        7.3  16-07-2023 06:48    0

   mmi   alert  tsunami  sig net  nst      dmin    gap magType    depth  \
0    4   green        0  657  us  114  7.177000   25.0     mww  192.955
1    6  yellow        0  775  us   92  0.679000   40.0     mww   69.727
2    5   green        0  899  us   70  1.634000   28.0     mww  171.371
3    6   green        1  860  us  173  0.907000   36.0     mww   32.571
4    5     NaN        1  820  at   79  0.879451  172.8      Mi   21.000

   latitude  longitude               location      continent    country
0  -13.8814   167.1580          Sola, Vanuatu            NaN    Vanuatu
1   12.8140   -88.1265  Intipucá, El Salvador            NaN        NaN
2  -38.1911   -70.3731    Loncopué, Argentina  South America  Argentina
3   54.3844  -160.6990     Sand Point, Alaska            NaN        NaN
4   54.4900  -160.7960       Alaska Peninsula            NaN        NaN

In [4]:
#Basic Info
print(df.info())
print(df.describe())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      1000 non-null   object
 1   magnitude  1000 non-null   float64
 2   date_time  1000 non-null   object
 3   cdi        1000 non-null   int64
 4   mmi        1000 non-null   int64
 5   alert      449 non-null    object
 6   tsunami    1000 non-null   int64
 7   sig        1000 non-null   int64
 8   net        1000 non-null   object
 9   nst        1000 non-null   int64
 10  dmin       1000 non-null   float64
 11  gap        1000 non-null   float64
 12  magType    1000 non-null   object
 13  depth      1000 non-null   float64
 14  latitude   1000 non-null   float64
 15  longitude  1000 non-null   float64
 16  location   994 non-null    object
 17  continent  284 non-null    object
 18  country    651 non-null    object
dtypes: float64(6), int64(5), object(8)
memory usage: 148.6+ KB
None
         magnitude          cdi         mmi      tsunami          sig  \
count  1000.000000  1000.000000  1000.00000  1000.000000  1000.000000
mean      6.940150     3.605000     6.02700     0.325000   847.915000
std       0.438148     3.328972     1.43399     0.468609   301.802632
min       6.500000     0.000000     1.00000     0.000000   650.000000
25%       6.600000     0.000000     5.00000     0.000000   691.000000
50%       6.800000     4.000000     6.00000     0.000000   744.000000
75%       7.100000     7.000000     7.00000     1.000000   874.250000
max       9.100000     9.000000    10.00000     1.000000  2910.000000

               nst         dmin          gap        depth     latitude  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean    193.918000     1.125174    20.926290    74.612541     4.315554
std     239.045858     2.073164    24.415895   130.812590    26.633320
min       0.000000     0.000000     0.000000     2.700000   -61.848400
25%       0.000000     0.000000     0.000000    16.000000   -13.518500
50%       0.000000     0.000000    18.000000    29.000000    -2.443500
75%     403.000000     1.549250    27.000000    55.000000    25.167250
max     934.000000    17.654000   239.000000   670.810000    71.631200

         longitude
count  1000.000000
mean     51.486576
std     117.478302
min    -179.968000
25%     -71.694450
50%     107.791000
75%     148.364750
max     179.662000
title          0
magnitude      0
date_time      0
cdi            0
mmi            0
alert        551
tsunami        0
sig            0
net            0
nst            0
dmin           0
gap            0
magType        0
depth          0
latitude       0
longitude      0
location       6
continent    716
country      349
dtype: int64